<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 1 Backend</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <ul id="navList">
            <li><a href="/">Start | sparade kurser</a></li>
            <li><a href="/new">Lägg till kurs</a></li>
            <li><a href="/about">Om sidan</a></li>
        </ul>
    </nav>
    <main>
        <h1>Sparade kurser</h1>

        <%if (locals.courses.length > 0) {%>
            <%locals.courses.forEach((course) => {%>
                <article id="courseInfo">
                    <p><b>Namn:</b><br>
                        <%= course.coursename%></p>
                    <p><b>Kurskod:</b><br>
                         <%= course.coursecode%></p>
                    <p><b>Kursplan:</b><br>
                         <%= course.syllabus %></p>
                    <p><b>Progression:</b><br>
                         <%= course.progression%></p>
                    <br>
                    <a id= "deleteBtn" href="/delete/<%= course.id%>">Ta bort kurs</a>
                </article>
            <%});%>
            <%}%>
    </main> 

    <footer>
        <p>Stina Persson (stpe1901)</p>
        <p>Backendbaserad webbutveckling Mittuniversitetet VT24</p>
    </footer>
</body>
</html>